# dependencies
/node_modules
/npm-debug.log*
/yarn-error.log
/yarn.lock
/package-lock.json

# production
/dist
/public

# client
/client/node_modules
/client/npm-debug.log*
/client/yarn-error.log
/client/yarn.lock
/client/package-lock.json

# misc
.DS_Store